@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* design btn and scrollbar  */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: darkgrey; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(114, 114, 114); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* navbar design */
.nav-color{
  background-color:#276678F7!important;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand{
  color: #D3E0EA!important;
  font-size: 1.5rem;
}

.ctmBtn{
  
  color: #276678!important;
  border-radius: 9999px;
  padding : 0.75rem 2.25rem;
  font-size: 1rem;
  font-weight : 600;
  font-family : 'Roboto',sans-serif;
  border: 2px solid #276678;
}

.ctmBtn-1{
  background: #1687A7;
  color: #ffffff;
  border-radius: 9999px;
  padding : 0.75rem 2.25rem;
  font-size: 1rem;
  font-weight : 500;
  font-family : 'Roboto',sans-serif;
}
.ctmBtn-0{
  background: #F4EEE8;
  color: #276678;
  border-radius: 9999px;
  padding : 0.625rem 2rem;
  font-size: 1rem;
  font-weight : 600;
  font-family : 'Roboto',sans-serif;
}

.ctmBtn-1:hover{
  background-color :#276678!important;
  color: #ffffff;
  /* border: 2px solid #1687A7; */
}
.ctmBtn-0:hover{
  background-color :#D3E0EA!important;
  color: #1687A7;
  /* border: 2px solid #1687A7; */
}

.ctmBtn:hover{
  background-color:#276678 ;
  color: #F4EEE8!important;
  
}

@media screen and (min-width : 1000px) {
  .margin-from-left{
    margin-left: 3.5rem;
  }
  .margin-from-right{
    margin-right: 3.5rem;
  }
}

.active{
  color: #D3E0EA!important;
  border-bottom: 1.5px solid #D3E0EA;
}