@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.post-title{
  color:  #115A6F;
  font-family: 'EB Garamond', serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;

}

.post-content{
  font-family:'Roboto', sans-serif;
  color: #276678;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.bg-ctm{
  background: #D3E0EA;
}
.post-title-2{
  color:  #115A6F;
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: right;
}
.post-content-2{
  color: #276678;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: right;
}


.yoga-bf-head{
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.155em;
  text-align: center;
  color:#1687A7;
  
}

.clrCtm{
  background-color: #1687A7;
  color:#D3E0EA;
}




/* team */
#lead{
  background-image : url('../images/team/lead.jpeg');
  background-position: center;
  background-repeat:none;
  background-size: cover;
  height: 45vh;
}


.member-name{
  font-family: 'EB Garamond', serif;
  font-style: bold;
  font-size: 1.2rem;
  color: #FFFFFF;
  margin-bottom: 1px;
  margin-top: 8px;
}
.member-position{
  margin-top: -10px;
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;
}

.team-footer{
  position: relative;
  top: 67%;
  opacity: 0.75;
  background-color: #1687A7BF;
  width:100%;
  border-radius: 0px 0px 24px 24px;
}


/* benifits of yoga */
.yoga-item{
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align : center;
  color: #276678;
}

.mod-head{
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  color: #286577;
}

.no-sh{
  border: none!important;
  box-shadow : none!important;
}
